# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

Add-Content -Path .gitignore -Value "`n# Large raw dataset (do not push)`nraw/311-service-requests-from-2010-to-present.csv`n"

